<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Abuela Sorda</title>
</head>
<body>
  <h1>Abuela Sorda</h1>
  <form action="/abuela-dice" method="get">
  	<input type="text" name="valor_de_entrada">
  	<input type="submit" value="Dilo!">
  </form>
 </body>
</html>